.slick-prev{
    border:1px solid green !important;
    z-index: 1000;
    left :-15px !important;
    width: 40px !important;
    height: 40px !important;
    background: #fff !important;
    border: 1px solid #d7d7d7 !important;

    &:hover{
        background: #eceaea !important;
    }
}
.slick-prev:before {
    font-family: FontAwesome !important;
    color: red !important;
}

.slick-next{
    border:1px solid red !important;
    width: 40px !important;
    height: 40px !important;
    right :-10px !important;
    background:#fff !important;
    border: 1px solid #d7d7d7 !important;

    &:hover{
        background: #eceaea !important;
    }
}

.slick-next:before {
    font-family: FontAwesome !important;
    color: rgb(19, 16, 223) !important;
}


//rieng
.section-share{   
    &.section-specialty{

        background: #f5f5f5;
    }
    
    &.section-medical-facility{
        background: white;
  
    }
    &.section-doctor{
        background: #f5f5f5;
        
    }
    &.section-handbook{
        background: white;
  
    }

    .section-body{
        .img-customize {
           
            .bg-img{
                

                &.section-specialty{
                    background: url("../../assets/images/specialty/than-kinh.jpg");                
                } 

                &.section-medical-facility{
                    background: url("../../assets//images/medicalFacility/viet-duc.jpg");
                }
                    
                &.section-doctor{
                    background: url("../../assets/images/doctor/doctor.png");
                }

                &.section-handbook{

                    background: url("../../assets/images/handbook/cam-nang-1.png");
                }
            }
            .title-detail{
                color: gray;
                cursor: pointer;
                &:hover{
                    color: #45c3d2;
                }
            }
      
        } 
    }
}

//chung
.section-share{
    
    height: 330px;
    border-bottom: 3px solid #efeef5;
    .section-container{
        margin : 0 50px;
        display: flex;
        flex-direction: column;
        
        .section-header{
            display: flex;
            height: 90px;
            align-items: center;
            justify-content: space-between;

            span{
                font-size: 26px;
                font-weight: 400;
            }

            button {
                outline: none;
                border: none;
                padding: 8px 12px;
                background: #dbd8d8;
                color: gray;


                &:hover{
                    background: #FFC419;
                    color: white;
                }
            }
        }

        .section-body{
            .img-customize {
                width: 97% !important;
                .bg-img{
                    border : 1px solid #d5cbcb;
                    height: 170px;
                    width: 343px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                    cursor: pointer;    
                    
                }
    
                .title-detail{
                    color: gray;
                    cursor: pointer;
                  
                    text-align: center;
                    margin: 0 14px;

                    &:hover{
                        color: #45c3d2;
                    }
                }
          
            } 
        }
    }
}




